@import "styles/CCard";
@import "styles/TagInput";

.text-copy-disabled {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.bdanger {
  background-color: #f00;
}
.cdanger {
  color: #f00;
}

.br-5 {
  border-radius: 5px;
}

.notify {
  width: fit-content;
  position: fixed;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  bottom: 0;
  margin-bottom: 10px;
  pointer-events: none;
  z-index: 9500;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
